<%- model_class = Question -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:asked_by) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.id, question_path(question) %></td>
        <td><%= link_to question.title, question_path(question) %></td>
        <td><%= link_to question.user.email, user_path(question.user) %></td>
        <td>
          <label><%= question.votes_for.size %></label>
          <%= link_to 'like', like_question_path(question), method: :post, :class => 'btn btn-default btn-xs' %>
          ,
          <label><%= question.followers_count %></label>
          <%= link_to 'follow', follow_question_question_path(question), method: :post, :class => 'btn btn-default btn-xs' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_question_path,
            :class => 'btn btn-primary' %>
